.espaçamento{
  width: 90%;
  margin-left: 5%;
  font-family: 'Quicksand', sans-serif;
}
a{
  color: black;
}
button{
  box-shadow: 2px 2px 2px;
}

section, aside{
  display: inline-block;
}

section{
  width: 26%
}
section{
  float: left;
}
/*Header*/
.header_img img{
  width: 300px;
  height: 200px;
}

.header_img, .header_lista_1, .header_lista_2{
  display: inline-block;
}

.header_lista_1 ul li, .header_lista_2 ul li{
  display: inline;
}

.header_lista_1{
  margin-left: 200px;
}
.header_lista_1 li{
  border: 2px solid black;
  padding-left: 40px;
  padding-right: 40px;

}

.header_lista_1 a{
  text-decoration: none;
}
.header_lista_2{
  float: right;
}

.header_lista_2 li{
  border-right: 2px solid black;
  padding-right: 10px;
}
.header_pesquisa{
  float: right;
}

.header_pesquisa button, .header_pesquisa input{
  margin-right: 10px;
  margin-bottom: 5px;
}

.header_avançada{
  float: right;
}


/*Article*/
/*Section*/
section img{
  width: 320px;
  height: 200px;
  border: 2px solid black;
}
.section_lista1 ul{
  margin-left: -30px;
}

.section_lista1 li{
  border: 2px solid black;
  padding-left: 5px;
  list-style: none;
  width: 300px;
  margin-top: 10px;
}
.section_lista1 a{
  text-decoration: none;
}

.section_lista2{
  border: 2px solid black;
  background-color: lightgray;
  width: 320px;
}

.section_lista2 ul{
  margin-left: -30px;
}

.section_lista2 li{
  list-style: none;
}

.section_lista2 a{
  text-decoration: none;
}
/* Aside 1 */
.section_meio{
  width: 47%;
}
.whatsnew{
  border: 2px solid black;
  background-color: lightgray;
  height: 300px;
}

.whatsnew1, .whatsnew2{
  display: inline-block;
}

.whatsnew1{
  width: 20%;
  padding-left: 20px;
}
.whatsnew1 p{
  font-style: italic;
}

.whatsnew2{
  width: 70%;
}
.whatsnew2 a{
  font-weight: bold;
}
.morenews{
  float: right;
}

.morenews span{
  border: 1px solid black;
}

.newsticker{
  border: 2px solid black;
  background-color: lightgray;
  margin-top: 10px;
}

.newsticker1, .newsticker2{
  display: inline-block;
}

.newsticker1{
  width: 78%;
  padding-left: 20px;
}

.newsticker2{
  width: 18%;
}

.newsticker2 a{
  display: block;
  border: 1px solid black;
  width: 10%;
  margin-top: 5px;
  margin-left: 100px;
  text-decoration: none;
}

.calendar{
  border: 2px solid black;
  background-color: lightgray;
  margin-top: 10px;
  padding-left: 20px;
}

.calendar1 h2, .calendar1 p{
  display: inline;
}

.calendar1{
  padding-top: 20px;
}
.calendar1 a{
  float: right;
  margin-right: 20px;
}
/* Aside direita */
.direito{
  float: right;
  width: 26%;
}
.aside_img1, .aside_img2, .aside_img3{
  float: right;
}

.aside_img1 img{
  width:310px;
  height:140px;
  margin-top: 5px;
}

.aside_img2{
  border: 2px solid black;
  width: 300px;
}

.aside_img2 img, .aside_img2 h2{
  display: inline;
}

.aside_img2 img{
  width: 200px;
  height: 125px;
  padding: 3px;
}

.aside_img2 h2, .aside_img3 h2{
  float: right;
  padding-right: 20px;
}

.aside_img3{
  margin-top: 25px;
  border: 2px solid black;
  width: 300px;
}

.aside_img3 img, .aside_img3 h2{
  display: inline;
}

.aside_img3 img{
  width: 200px;
  height: 125px;
  padding: 3px;
}
/* Footer */
footer{
  border-top: 2px solid black;
  margin-top: 30px;
}

footer ul, footer a, footer p{
  display: inline;
}

footer ul li{
  display: inline;
  border-right: 2px solid black;
  padding-right: 5px;
}

footer p{
  float: right;
}

footer ul{
  padding-right: 400px;
}
